<!-- <app-custom-directives></app-custom-directives> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-employee-details></app-employee-details> -->
<!-- <app-bootcomponent></app-bootcomponent> -->
<!-- <app-bootstrap-component2></app-bootstrap-component2> -->
<!-- <app-bootcomponent></app-bootcomponent> -->



<!-- <div style="background-color: lightblue;">
<div class="row">
    <div class="col-lg-3">
    <img src="../assets/images/logo.jpeg" style="width: 150px; height: 150px;">
</div>
<div class="col-lg-3">
<nav>
    <a routerLink="/home">Home| </a>
    <a routerLink="/product">Products| </a>
    <a routerLink="/employee">Employee List| </a>
    <a routerLink="/cart">Add to Cart| </a>
    <a routerLink="/contact">Contact US</a>
</nav>
</div>
</div>
</div>
<router-outlet></router-outlet> -->

<!-- <app-interpolation-binding></app-interpolation-binding -->

    <!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-bindings></app-event-bindings> -->
<!-- <app-event-binding-calculator></app-event-binding-calculator> -->

<!-- <app-two-way-binding>k</app-two-way-binding> -->
<!-- <app-style-binding></app-style-binding> -->

<!-- <app-pre-struct-dirs></app-pre-struct-dirs> -->
<!-- <app-pre-attr-dirs></app-pre-attr-dirs> -->
<!-- <app-event-binding-calculator></app-event-binding-calculator> -->
<app-boot-example></app-boot-example>