div{
    margin-left: 600px;
    margin-right: 700px;
    background-color: lightblue;
    margin-top: 100px;
}

p{
    background-color: blue;
    margin-left: 100px;
    margin-right: 100px;
}
button{
    margin: 1px;
}
